.location {
  height: 829px;
  background: #f6f6f6;
  margin: 0px 100px;
  margin-top: 43px;
  margin-bottom: 50px;
  border-radius: 25px;
  padding: 0px 50px;
  padding-top: 56px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: scroll;

  a {
    text-decoration: none;
  }

  &__apartmentCard {
    position: relative;
    width: 340px;
    height: 340px;
    background: #ff6060;
    border-radius: 25px;
    padding: 20px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin: auto;
    margin-bottom: 50px;

    img {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 340px;
      object-fit: cover;
    }

    &__gradient {
      z-index: 2;
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(10, 10, 10, 0) 42%,
        rgba(80, 67, 67, 0.205) 99.99%,
        rgba(0, 0, 0, 0.5) 100%
      );
      top: 0;
      left: 0;
    }

    &__title {
      z-index: 5;
    }
  }
}

@media screen and (max-width: 1380px) {
  .location {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1020px) {
  .location {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .location {
    margin: 0px 20px;
    margin-top: 22px;
    background: white;

    padding: 0px;
    padding-top: 0px;

    &__apartmentCard {
      width: 100%;
      height: 255px;
      padding: 15px;
      margin-bottom: 20px;
    }

    img {
      width: 100%;
      height: 255px;
    }
  }
}
